<!-- This file refreshes the "user-list.html" file -->

{% extends 'base.html' %}


{% block content %}

<style type="text/css">
    .choice-btns{
        display: flex;
    }
</style>

<a href="{% url 'core:leave' %}"><button class="btn btn-danger">Leave Game</button></a>


<h1>Welcome to the Lobby: {{ request.user.username }}</h1>

<h2>List of Available Players</h2>


<!-- messages -->
{% include 'core/messages.html' %}



<br><hr>


{% for user in users %}

    {% if request.user.username != user.username %}

        <!-- list of users available for pairing -->

            {{ user.username }}
            
            <form method="post", action="{% url 'core:handshake' user.id %}">
                {% csrf_token %}
                
                <input type="submit", value="Pair", name="pair">
            </form>

    {% endif %}

{% endfor %}

{% endblock content %}