{% extends 'base.html' %}

{% load static %}


{% block content %}


<!-- <script>
    function timedRefresh(timeoutPeriod) {
        setTimeout("location.reload(true);",timeoutPeriod);
    }
</script> -->


<style>
    .room-heading{
        display: flex;
        justify-content: space-between;
    }
    .chip {
        display: inline-block;
        padding: 0 25px;
        height: 50px;
        font-size: 16px;
        line-height: 50px;
        border-radius: 25px;
        background-color: #f1f1f1;
    }
    .chip img {
        float: left;
        margin: 0 10px 0 -25px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
    .sub-head{
        display: flex;
        /* border: 1px solid black; */
        justify-content: space-between;
    }
    .room-heading{
        /* border: 1px solid black; */
        /* margin-top: 5px; */
        margin-bottom: 7px;
    }
    table, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    td {
        padding: 30px;
        font-size: 50px;
    }
    .game{
        margin-top: 1%;
        margin-bottom: 20px;
        display: flex;
        /* border: 1px solid black; */
        justify-content: center;
    }
    .movement{
        /* border: 1px solid black; */
        margin-right: 50px;
    }
    .messages{
        /* border: 1px solid black; */
        justify-content: center;
        display: flex;
        /* margin-top: -40px; */
        color: red;
    }
    .board{
        /* border: 1px solid red; */
        padding-top: 20px;
    }
</style>


<div class="room-heading">
    <h1>Room {{ room.room_id }}</h1>
    <a href="{% url 'core:leave' %}"><button class="btn btn-danger">Leave Game</button></a>
</div>



<div class="sub-head">

    {% if request.user == room.player1 %}
        <div class="chip">
            <img src="{% static 'assets/img/avatar.png' %}" alt="Person" width="96" height="96">
            {{ room.player1 }}
        </div>

        <div class="chip">
            <img src="{% static 'assets/img/avatar.png' %}" alt="Person" width="96" height="96">
            {{ room.player2 }}
        </div>

    {% else %}
        <div class="chip">
            <img src="{% static 'assets/img/avatar.png' %}" alt="Person" width="96" height="96">
            {{ room.player2 }}
        </div>

        <div class="chip">
            <img src="{% static 'assets/img/avatar.png' %}" alt="Person" width="96" height="96">
            {{ room.player1 }}
        </div>
    {% endif %}
</div>


<hr>

<!-- messages -->
<div class="messages">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
</div>


<div class="game">

    <div class="movement">
        
        <form method="post">
            {% csrf_token %}
            
            {% if request.user == room.player1 %}

                {{ white_piece.as_p }}
                {{ board_post.as_p }}

                <input type="submit", value="Submit", class="btn btn-success", onClick="window.location.reload(true)">
            {% endif %}

            {% if request.user == room.player2 %}

                {{ black_piece.as_p }}
                {{ board_post.as_p }}

                <input type="submit", value="Submit", class="btn btn-success", onClick="window.location.reload(true)">
            {% endif %}
        </form>

    </div>

    
    <!-- This is the game board -->
    <div class="board">
        {% include 'core/board.html' %}
    </div>

    
</div>


{% endblock content %}