<!-- <style type="text/css">
    .choice-btns{
        display: flex;
    }
</style>

<a href="{% url 'core:leave' %}"><button class="btn btn-danger">Leave Game</button></a>


<h1>Welcome to the Lobby: {{ request.user.username }}</h1>

<h2>List of Available Players</h2>


{% for message in messages %}
    <hr>    
    {{ message }}
{% endfor %}



{% if notification.receiving_user == request.user %}
    {% if flag %}
        <hr>
        <h2>{{ notification.message }}</h2>
        Do you wish to accept

        <div class="choice-btns">

            <form method="post">
                {% csrf_token %}
                <input type="submit", value="Yes", name="yes", class="btn btn-success">
            </form>
            
            <a href="{% url 'core:decline-note' %}">
                <button class="btn btn-danger">No</button>
            </a>

        </div>

    {% endif %}
{% endif %}


<br><hr>


{% for user in users %}

    {% if request.user.username != user.username %}


            {{ user.username }}
            
            <form method="post", action="{% url 'core:handshake' user.id %}">
                {% csrf_token %}
                
                <input type="submit", value="Pair", name="pair">
            </form>

    {% endif %}

{% endfor %} -->